{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <div id="page_contenu_mosaique">

        <h2>Résultats de la recherche : {{ texte_recherche }}</h2>

        <section class="contenu_recherche">

            <div class="affichage_mosaique affichage_recherche">
                {% for photo in photos_trouvees %}
                    {% set cheminPhoto = photo.chemin_photo %}
                    <div class="bloc_photo">
                        <div class="photo_dans_recherche photo_dans_mosaique shadow-4-strong">

                            <a href="/images/{{ cheminPhoto }}"
                               title="{{ photo.serial_number }}">
                                <img alt="description"
                                     src="/images/{{ cheminPhoto }}">
                            </a>
                        </div>
                        <div class="descriptif_photo">{{ photo.serial_number }} : {{ photo.lieu }}</div>
                    </div>
                {% endfor %}
            </div>

        </section>

    </div>

{% endblock %}


{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/mosaiquephoto.css">
{% endblock %}




