{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <h2>Résultats de la recherche : {{ texte_recherche }}</h2>

    <section class="contenu_recherche">

        <div class="affichage_recherche">
            {% for photo in photos_trouvees %}
                {% set cheminPhoto = photo.chemin_photo %}
                <div class="bloc_photo">
                    <div class="photo_dans_galerie shadow-4-strong">

                        <a href="/images/{{ cheminPhoto }}"
                           title="{{ photo.serial_number }}">
                            <img alt="description"
                                 src="/images/{{ cheminPhoto }}">
                        </a>
                    </div>
                    <div class="descriptif_photo">{{ photo.serial_number }} : {{ photo.lieu }}</div>
                </div>
            {% endfor %}
        </div>

    </section>


{% endblock %}





