{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}
    <section>
        <h2>{{ photo.name }}</h2>
        <div class="affichage_une_photo">
            <img alt="{{ photo.description }}" src="/images/{{ photo.chemin_photo}}">
            <div>
                {{ photo.lieu }}
            </div>
            <div>
                {{ photo.description }}
            </div>
        </div>
    </section>
{% endblock %}



