{% extends 'Backend/Templates/backend_layout.html.twig' %}

{% block backend_content %}


    <h2>Ordre des photos dans le carousel</h2>

    <div id="all_photos_available_carousel">
        {% for unePhoto in allPhotos %}

            <div class="all_photos" id="{{ unePhoto.id }}">
                <div class="bloc_image shadow-4-strong">
                    <img alt="description"
                         src="/images/{{ allGaleries[unePhoto.galerie_id()].nom_galerie ~ '/' ~ unePhoto.serial_number }}"
                         draggable="true">
                </div>
                <p hidden>{{ unePhoto.serial_number }}</p>

            </div>

        {% endfor %}
    </div>




    <form id="formulaire_carousel" class="formulaire_ordre_carousel" action="/admin/validateordrecarousel" method="post"
          novalidate>
        <div id="zones_cibles">
            <div class="bloc_zone_cible">
                <div class="zone_cible" id="zone_1">
                    <input type="hidden" name="input_1" value="">
                    <div> Emplacement 1</div>
                </div>
                <input class="reset_dropzone" type="reset" value="Vider l'emplacement">
            </div>


            <div class="bloc_zone_cible">
                <div class="zone_cible" id="zone_2">
                    <input type="hidden" name="input_2" value="">
                    <div> Emplacement 2</div>
                </div>
                <input class="reset_dropzone" type="reset" value="Vider l'emplacement">
            </div>

            <div class="bloc_zone_cible">
                <div class="zone_cible" id="zone_3">
                    <input type="hidden" name="input_3" value="">
                    <div> Emplacement 3</div>
                </div>
                <input class="reset_dropzone" type="reset" value="Vider l'emplacement">
            </div>

            <div class="bloc_zone_cible">
                <div class="zone_cible" id="zone_4">
                    <input type="hidden" name="input_4" value="">
                    <div> Emplacement 4</div>
                </div>
                <input class="reset_dropzone" type="reset" value="Vider l'emplacement">
            </div>

            <div class="bloc_zone_cible">
                <div class="zone_cible" id="zone_5">
                    <input type="hidden" name="input_5" value="">
                    <div> Emplacement 5</div>
                </div>
                <input class="reset_dropzone" type="reset" value="Vider l'emplacement">
            </div>
        </div>

        <button id="validation_ordre_carousel" class="btn btn-primary" name="bouton_validation_ordre_carousel"
                type="submit">Valider ordre
        </button>
    </form>
{% endblock %}

{% block javascript %}
{#    Permet de conserver le contenu des parents#}
    {{ parent() }}
    <script type="application/javascript" src="/js/OrdreCarousel.js"></script>
    <script type="application/javascript" src="/js/CarouselAdmin.js"></script>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/ordrecarousel.css">
{% endblock %}
