{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <h2>Panier</h2>

    <section class="visualisation_panier">

        {% for unArticle in orderedArticles %}

            <div class="un_article_panier">

                <div class="photo_serial_number_panier">Code article
                    : {{ unArticle.orderedArticle.serial_number }}</div>
                <div class="photo_dimensions_panier">Dimensions : {{ unArticle.selectedDimensions.dimensions }}</div>
                <div class="number_of_articles_panier"
                     data-idphoto="{{ unArticle.orderedArticle.id }}"
                     data-iddimensions="{{ unArticle.selectedDimensions.id }}"
                     data-articleqty="{{ unArticle.numberOfArticles }}">Quantité :

                    <button type="button" class="btn btn-primary qte_moins_button">-
                    </button>

                    <span class="number_of_articles_panier_span"
                          id="number_of_articles_panier_span_{{ unArticle.orderedArticle.id }}"> {{ unArticle.numberOfArticles }}
                    </span>

                    <button type="button" class="btn btn-primary qte_plus_button">+
                    </button>
                </div>
                <div class="prix_article_panier">Prix unitaire : {{ unArticle.photoTarif }} €</div>
                <div class="prix_total_article">Prix total par article
                    : {{ unArticle.numberOfArticles * unArticle.photoTarif }} €
                </div>
            </div>

        {% endfor %}

    </section>

{% endblock %}

{% block javascript %}
<script type="application/javascript" src="/js/AddingOneToQuantityAjax.js"></script>
<script type="application/javascript" src="/js/RemovingOneToQuantityAjax.js"></script>
<script type="application/javascript" src="/js/affichagePanier.js"></script>
{% endblock %}
