{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}
    <section class="visionnage_article">
        <img alt="photo article" src="/images/{{ galerieEntity.nom_galerie ~ '/' ~ selected_photo.serial_number }}">
    </section>
    <section class="infos_et_commande">
        <form id="formulaire_panier" class="formulaire_un_article" action="/validateonearticle" method="post" novalidate>
            <input name="id_photo" type="hidden" value="{{ selected_photo.id }}">
            <select id="dimensions_deroulant" class="form-select dimensions_article" name="id_dimensions">
                <option value="" selected disabled hidden>Dimensions</option>
                {% for photoTarif in photoTarifs %}
                <option class="menu_deroulant_dimensions"
                        data-prix="{{ photoTarif.prix }}"
                        value="{{ photoTarif.dimensions_id }}">{{ allDimensions[photoTarif.dimensions_id].dimensions }}
                </option>
                {% endfor %}
            </select>
            <div class="zone_prix">
                prix :
                <span id="prix_article"></span>
                €
            </div>

            <div>
                <span>Quantité : </span>
                <select class="form-select" name="nombre_articles">
                    <option value="" selected disabled hidden>-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <button id="validation_article" class="btn btn-primary" name="bouton_validation_article" type="submit">Ajouter au panier</button>

        </form>

    </section>


{% endblock %}
{% block javascript %}
<script type="application/javascript" src="/js/PlacingAssociatedValue.js"></script>
<script type="application/javascript" src="/js/ValidatingFormAjax.js"></script>
<script type="application/javascript" src="/js/showOneArticle.js"></script>
{% endblock %}


