{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}
    <section>

        <h2>Photos disponibles à la vente</h2>

        <div class="affichage_available_photos">
            {% for photo in all_available_photos %}
                <div class="available_photo">

                    <a href="/showonearticle?galerie_id={{ photo.galerie_id }}&amp;photo_id={{ photo.id }}"><img alt="description" src="/images/{{ galeries[photo.galerie_id()].nom_galerie ~ '/' ~ photo.serial_number }}"></a>

                    <p>{{ photo.name }}</p>

                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}



{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/showallavailablephotos.css">
{% endblock %}


