


<div class="bloc_photo">
    <div class="photo_dans_galerie photo_dans_mosaique shadow-4-strong">
        <a href="/showonephoto?photo_id={{ id }}"
           title="{{ serial_number }}">
            <img alt="{{ serial_number }}"
                 src="{{ chemin_image }}">
        </a>
        {#
        <a href="{{ chemin_image }}"
           title="{{ serial_number }}">
            <img alt="{{ serial_number }}"
                 src="{{ chemin_image }}">
        </a>
        #}
    </div>
    <div class="descriptif_photo">{{ descriptif_photo }}</div>
</div>


