<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <meta charset="UTF-8">
    <!--      Fontawesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <!-- Google Fonts -->
    {# <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    /> #}
    <!-- Material Design for Bootstrap (MDB) -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css"
            rel="stylesheet"
            integrity="sha512-9PSp7LjOrKa8teKpNGcBfno5hk3BhDCDAs4CKjZ/aQpaVqQ/VmHV+WBjWUV2KjXySB5CbVt4/Qu8KeCVt+HvGg=="
            crossorigin="anonymous"
    />
    <!--    Feuille de style jQuery-ui  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!--    Feuille de style    -->
    <link rel="stylesheet" href="/css/style.css"/>
{#    Remplace le favicon par une image vide#}
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    {% block css %}{% endblock %}
    <!--    Titre dans le navigateur-->
    <title>Romain CHARLES - Photographe</title>
</head>
<body>

<header>
    <nav id="bandeau_header_general" class="navbar">
        <h1 id="titre principal">
            <a href="/">ROMAIN CHARLES <span id="separateur_titre_general">|</span> PHOTOGRAPHE</a>
        </h1>
        <label>
            <input hidden id="admin_connection_status" value="{{ adminConnectionStatus }}">
        </label>
        <div class="menu_general">
            <ul id="liste_menu_general" class="nav">
                {% if adminConnectionStatus == false %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu_galerie" href="#" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Galeries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menu_galerie">
                            {% for galerie in allGaleries %}
                                <a class="dropdown-item"
                                   href="/showonegalerie?galerie_id={{ galerie.id }}">{{ galerie.nom_galerie }}</a>
                                {# <a class="dropdown-item" href="/showonegalerie?galerie_id=1">{{ galerie.nom_galerie }}</a> #}
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showallavailablephotos">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/affichagepanier">Panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logginginform">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loggingoutform">Log out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <form autocomplete="off" action="/sendsearchrequest" method="get">
                            <label for="champ_recherche" hidden></label>
                            <input id="champ_recherche" type="search" name="texte_recherche">

                            <input type="submit" name="send_recherche" value="Rechercher">
                        </form>
                        {# <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Recherche
                    </a> #}
                        <form class="form-inline dropdown-menu" aria-labelledby="navbarDropdown">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Recherche</button>
                        </form>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/ordrecarousel">Carousel</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu_gestion_photos" href="#" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Gestion photos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menu_gestion_photos">
                            <a class="dropdown-item"
                               href="/admin/ajoutphoto">Ajout photo
                            </a>
                            <a class="dropdown-item"
                               href="/admin/suppressionphotochoixgalerie">Suppression photo
                            </a>
                        </div>
                    </li>


                    {#
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/ajoutphoto">Gestion photos</a>
                    </li>
                    #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu_gestion_galeries" href="#" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Gestion galeries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menu_gestion_galeries">
                            <a class="dropdown-item"
                               href="/admin/ajoutgalerie">Ajout galerie
                            </a>
                            <a class="dropdown-item"
                               href="/admin/suppressiongalerie">Suppression galerie
                            </a>
                        </div>
                    </li>
                {% endif %}

            </ul>

        </div>
    </nav>
</header>
<main>
    {% if exception is defined and exception %}
        <h1>ERREUR : </h1>
        <p>{{ exception.message }}</p>
    {% else %}

{#        <section>#}
            {% block content %}{% endblock %}
{#        </section>#}

    {% endif %}
</main>


<footer>
    <div id="contenu_footer">
        {% if adminConnectionStatus == false %}
            <a href="/admin/connexion">Espace administrateur</a>
        {% else %}
            <a href="/admin/deconnexion">Déconnexion administrateur</a>
        {% endif %}
    </div>

</footer>


<!-- MDB -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"
        integrity="sha512-QK+7gw6IeW5F8H7H9oVBM8w4fdd6hsSfUxCGguaWDwZaZU3DH/NneMxqQyhYQPppAIAAew79G578jrUokfsFyw=="
        crossorigin="anonymous">
</script>
<!--    CDN jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>
<!--    CDN jQuery-ui  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>


{% block javascript %}
{# Permet de conserver le contenu des parents #}{#
{{ parent() }}

/*Version alternative du changement de menu. J'utilise plutôt le changement de menu directement dans la vue avec Twig mais
je garde cette version pour mémoire*/

<script type="application/javascript" src="/js/ChangingMenu.js"></script>
<script type="application/javascript" src="/js/ComportementGeneralLayout.js"></script>
#}

    <script type="application/javascript" src="/js/AutocompletionSearch.js"></script>
    <script type="application/javascript" src="/js/ComportementGeneralLayout.js"></script>
{% endblock %}
</body>
</html>

