<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <meta charset="UTF-8">
    <!--      Fontawesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <!-- Google Fonts -->
    {# <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    /> #}
    <!-- Material Design for Bootstrap (MDB) -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css"
            rel="stylesheet"
            integrity="sha512-9PSp7LjOrKa8teKpNGcBfno5hk3BhDCDAs4CKjZ/aQpaVqQ/VmHV+WBjWUV2KjXySB5CbVt4/Qu8KeCVt+HvGg=="
            crossorigin="anonymous"
    />
    <!--    Feuille de style-->
    <link rel="stylesheet" href="/css/style.css"/>
{#    Remplace le favicon par une image vide#}
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    {% block css %}{% endblock %}
    <!--    Titre dans le navigateur-->
    <title>Romain CHARLES - Photographe</title>
</head>
<body>

<header>
    <nav class="navbar">
        <h1 id="titre principal">
            <a href="/">Romain CHARLES<br>
                PHOTOGRAPHE</a>
        </h1>
        <label>
            <input hidden id="admin_connection_status" value="{{ adminConnectionStatus }}">
        </label>
        <div class="menu_general">
            <ul class="nav">
                {% if adminConnectionStatus == false %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu_galerie" href="#" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Galeries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menu_galerie">
                            {% for galerie in allGaleries %}
                                <a class="dropdown-item"
                                   href="/showonegalerie?galerie_id={{ galerie.id }}">{{ galerie.nom_galerie }}</a>
                                {# <a class="dropdown-item" href="/showonegalerie?galerie_id=1">{{ galerie.nom_galerie }}</a> #}
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/affichagepanier">Panier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logginginform">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loggingoutform">Log out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <form action="/sendsearchrequest" method="get">
                            <input type="search" name="texte_recherche">
                            <input type="submit" name="send_recherche" value="Rechercher">
                        </form>
                        {# <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Recherche
                    </a> #}
                        <form class="form-inline dropdown-menu" aria-labelledby="navbarDropdown">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Recherche</button>
                        </form>
                    </li>
                {% else %}
                    <div> A COMPLETER</div>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/ordrecarousel">Carousel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/ajoutphoto">Gestion photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Gestion galeries</a>
                    </li>
                {% endif %}

            </ul>

        </div>
    </nav>
</header>
<main>
    {% if exception is defined and exception %}
        <h1>ERREUR : </h1>
        <p>{{ exception.message }}</p>
    {% else %}
        <h1>Voici le template général</h1>

        <section>
            {% block content %}{% endblock %}
        </section>

    {% endif %}
</main>


<footer>
    <div id="contenu_footer">
        {% if adminConnectionStatus == false %}
            <a href="/admin/connexion">Espace administrateur</a>
        {% else %}
            <a href="/admin/deconnexion">Déconnexion administrateur</a>
        {% endif %}
    </div>

</footer>


<!-- MDB -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"
        integrity="sha512-QK+7gw6IeW5F8H7H9oVBM8w4fdd6hsSfUxCGguaWDwZaZU3DH/NneMxqQyhYQPppAIAAew79G578jrUokfsFyw=="
        crossorigin="anonymous">
</script>
<!--    CDN jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>
{% block javascript %}
{# Permet de conserver le contenu des parents #}{#
{{ parent() }}

/*Version alternative du changement de menu. J'utilise plutôt le changement de menu directement dans la vue avec Twig mais
je garde cette version pour mémoire*/

<script type="application/javascript" src="/js/ChangingMenu.js"></script>
<script type="application/javascript" src="/js/ComportementGeneralLayout.js"></script>
#}
{% endblock %}
</body>
</html>

